* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --col1: #0C172F;
    --col2: #6D3263;
    --col3: #DF6283;
    --col4:#FCFCA4;
}
.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    width: max-content;
    
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    background-color: var(--col1);
    color: var(--col4);
    border-radius: 25px;
    gap: 20px;
   
}

input {
    margin: 10px 5px;
    background-color: var(--col3);
    color: var(--col4)
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: clamp(30%, 35%, 40%);
    height: clamp(140px, 180px, 250px); 
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    background-color: var(--col1);
    color: var(--col4);
    border-radius: 25px;
    text-align: center;
}

.library {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

body {
    background-color: var(--col2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    height: auto;
}

.button {
    background-color: var(--col3);
    padding: 10px;
    border-radius: 5px;
    color: var(--col4);
}


.card button {
    display: flex;
    align-self: flex-end;
    margin: 5px;
}

.deleteBtn {
    display: flex;
    align-self: flex-end;
    margin: 5px;
    color: red;
    cursor: pointer;
}